.cad_container{
    padding-top: 2em;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.cad_container p{
    font-size: 19px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;   
    width: 90%;
    margin-top: 7px;
    margin-bottom: 2px;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    background-color: #fffce2;
    border-color: #0050D8;
    box-shadow: 2px 2px #004fd88f;
}

.Info_Icon{
    display: flex;
    flex-direction: row;
}
.card p{
    font-size: 19px; 
    margin-bottom: 5px; 
    width: 12em;
}
.botao{
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 0.5em;
    text-decoration: none;
    transition: 0.5s;
    width: 50%;
    margin: 1em;
    border: solid;
    border-color: #0050D8;
    box-shadow: 4px 4px #FFC800;
    border-radius: 15px;
}

.cad_box{
    top:30%;
    position: fixed;

    width: 85%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    border: solid;

    background-color: white;
    border-color: #0050D8;
    box-shadow: 4px 4px #FFC800;
    border-radius: 15px;
}

.card_box p{
    font-size: 20px;
    margin-top: 5px;
}

.cad_box div{
    width: 100%;
}

.cad_box input{
    border: solid;
    border-color: #696969;
    text-align: center;
    border-radius: 10px;
    
    height: 25px; 
    font-size: 15px;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.534);
    width: 100%;
}
.cad_box button{
    width: 40%;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border-color: #0050D8;
    box-shadow: 4px 4px #FFC800;
    border-radius: 15px;
}