.home_container{
    width: 100%;
    padding: 1em;
}

.home_container p{
    font-size: 16;
    margin-bottom: .5em;
    color: #05193C;
}

.home_container h3{
    margin-bottom: 1em;
    color: #05193C;
    text-align: center;
}
#buttons{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}
.home_container div{
    display: flex;
    justify-content: space-between;
}

