* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'sans-serif';

  /* border: 1px solid red !important; */
}

body{
  margin: 0;
  overflow-x: hidden;
}

html, body, #root {
  background-color: #f8f8f8;
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: #05193C;
}